<h2>Signup form with name <%=@name%> and value <%=@value%></h2>
<form>
  <input type='text' value='<%=@name%>' name='name' />
  <input type='text' value='<%=@value%>' name='value' />
</form>
<a href='/'>
  <h2>Go back</h2>
</a>
