<a href='<%= new_signup_path(name: 'Aaa', value: '100') %>'>
  <h2>Sign up with Aaa and 100</h2>
</a>
<a href='<%= new_signup_path(name: 'Bbb', value: '200') %>'>
  <h2>Sign up with Bbb and 200</h2>
</a>
<a href='<%= new_signup_path(name: 'Ccc', value: '300') %>'>
  <h2>Sign up with Ccc and 300</h2>
</a>
